body {background: #FFFFFF; color: #333;}
.span6 {position:relative;}
.thumbnails li.span6 {margin-bottom: 20px;}
.outer {border-bottom: 5px solid #fff;background: #fff; box-shadow: rgba(0, 0, 0, 0.14902) 0px 5px 10px !important;}
.thumbnails {float: none; margin: 0 0 0 0;}
.thumbnail {padding:0;border:0;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.outer img {border: 0;}
.outer h2 {font-size: 1em; margin: 5px 0;line-height: 1em;}
.sidebox {width: auto;height:60px;padding: 5px;}
.sidebox.ft {background: url(../img/bg-ft.png) 0 0 no-repeat;}
.sidebox .avatar {margin: 5px 5px 0 0;}
.span4.product-info {float: right; display: inline-table;}
.product-related {float: none; display: block; clear: both; margin-top: 20px;}
ul.product-todo {list-style: none; margin-left: 0px;}
.span9.comment-box {margin-bottom: 20px; margin-left: 0px; padding: 5px;}
.photo-main {background: #333;}
.photo-main img {display: block; margin: 0 auto;}
.photo-lain {padding: 0;}
.photo-lain hr {
margin: 5px 0;
border: 0;
border-top: 1px solid #eeeeee;
border-bottom: 1px solid #ffffff;
}
.photo-lain h4 {padding: 5px;}
.photo-lain p {padding: 5px; font-size: 12px;}
.outer p {margin: 10px 10px 10px 10px;}
.sidebox.ft span {font-size: 12px;}
.span4 .alert.alert-block.info {margin-bottom: 0;}
.row .span4 .alert.alert-block.info {margin-bottom: 20px;}
.comment-box p {font-size: 12px;}
.comment-textarea {display: block;}
textarea {resize:vertical;}
.avatar-comment {display: block; width: 33px; height: 33px; float: left; margin: 0 15px 10px 0;}
.sidebox p {text-align:center;}
.sidebox .label {margin: 20px 5px 0 5px;}
.sidebox button {float: right; margin: 15px 20px 0 0;}
.sidebox p img {margin:0;}
td.center {text-align: center;}
td.right {text-align: right;}
li .bi-language {margin: 9px 10px 0 10px;}
.span1.center {text-align: center;}
.navbar .brand {display: block;float: left;padding: 5px 20px 0px;margin-left: 0px;font-size: 20px;font-weight: 200;
color: #777777;text-shadow: 0 1px 0 #ffffff;}
.navbar .divider-vertical {margin: 0 -1px 0 0;}
.divider-horizontal {
    float: none;
    padding: 0;
    margin: 4px 0;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .divider-horizontal {
    border-top-color: #e0e0e0;
    border-bottom-color: #e0e0e0;
  }
.navbar-cart {min-width: 380px; color: #666666;}
.btn-group.small-search {margin-top: 7px;}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {font-size: 12px;}
.badge {padding-right: 6px;padding-left: 6px;}
.av-img {width: 20px; height: 20px;}
li.span4 {margin: 0 5px; padding: 0;}
.table {width: 100%;margin-bottom: 0;}
li button.btn.btn-small {margin-top: 7px;}
.navbar-form {margin-left: 5px;}
.navbar-form .btn.btn-small {height: 30px;}
.mask .icon-share {position: absolute;top:10px; right: 10px; }
.mask .price {color: #fff;margin: 10px;}
.mask .keyhole {width:100%; height:100%; margin: 0 auto; background:transparent url(../img/keyhole.png) center center no-repeat;}
a .mask .icon.stat-info {position: absolute; right: 10px; top: 10px; color: #fff; font-size: 11px; z-index: 9; font-weight: normal;}
a:hover .mask .icon.stat-info {color: #fff; text-decoration: none;}
.mask .btn {width:50px; height:50px; margin: 0 auto;}
.mask h2 .label {font-size: 0.5em;}
.register-btn {margin: 2px 10px 0 10px;}
li.dropdown {min-height: 40px;}
#center {float: none; margin: 0 auto; display: block;}
.span4 .box {border: 1px solid #333;}
ul.span6, ul.span4 {display: inline-table;}
.span4.cart-sidebar {display: block; width: auto;}
.alert.alert-block.header {background: #32291e;}
.span8.button-lg {background: #fff; padding: 15px; margin-bottom: -15px; border: none;}
#footer {
clear: both;
overflow: hidden;
margin:30px;
padding: 30px 0 0 0;
border-top: 1px solid #fff;
}
.alert.alert-block.login.top {margin-top:65px; background: #fff; border: 0px solid #efefef; color:#333;}
.alert.alert-block.info {background: #fff; border: 1px solid #efefef; color:#333;padding: 0px 0px 0px 0px;}
.alert.alert-block.login {background: #fff; border: 0px solid #efefef; color:#333;}
.alert.alert-block.upload.top {padding: 0px 15px;background: #fff;}
.alert.alert-block.upload.box {background: #fff; border: 0px solid #efefef; color:#333;padding: 0 0 0 0;}
.alert.alert-block.upload.box.text {background: #fff; border: 0px solid #efefef; color:#333;padding: 0 5px 0 5px;}
.button-stat {margin: 0;}
.carousel {
position: relative;
margin-bottom: 0px;
line-height: 1;
}

.carousel-control {
position: absolute;
top: 50%;
left: 15px;
width: 40px;
height: 40px;
margin-top: -20px;
font-size: 60px;
font-weight: 100;
line-height: 30px;
color: #ffffff;
text-align: center;
background: #222222;
border: 3px solid #ffffff;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
opacity: 0.5;
filter: alpha(opacity=50);
}

.modal-body {
position: relative;
max-height: 500px;
padding: 0px;
overflow-y: hidden;
}
.modal-body p{padding: 0 15px;}
.small {
font-size: 90%; font-weight: normal;
}

.btn-right {margin: 0;}

.fb_iframe_widget {
position: relative;
display: -moz-inline-block;
display: inline-block;
margin: 9px 15px 0 0; 
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}

.fb-btn-li .fb_iframe_widget{
    margin: 0 0 0 21px;
}

form {
    margin: 0;
}

.nav.pull-right .btn {margin-left: 15px;}

.alert .delete {margin: 15px 0 0 0;}
.alert .close {
    line-height: 20px;
    position: relative;
    right: 0px;
    top: 0px;
}
.about, .alert {
    background: #c1b49a;
    color: #706457;
    border: 1px solid #FCF8E3;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.welcome {
    background: #c1b49a url('../img/bokerface-icon.png') top left no-repeat;
    color: #706457;
    border: 1px solid #FCF8E3;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 140px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert img {width: 100%; padding: 0; margin: 0;}
.about-txt {font-size: 14px; line-height: 24px; text-align: justify; color: #706457; padding: 20px;}
.about-txt h2, .about-txt h3 {margin-left: 15px;}
blockquote small {
    color: #c1b49a;
    line-height: 20px;
}
.alert.alert-block.upload.box {padding: 5px;}
.loading{text-align:center;}