body {padding-top: 60px; padding-bottom: 60px; color:#333}

body .pull-center {margin: 0 auto; float: none}
body .a-right {text-align: right !important}
body .a-center {text-align: center !important}
.label, .badge {font-weight: normal}
.title-button {border-bottom: 1px solid #ccc; margin-bottom: 10px}
.title-button .page-title {border: 0; margin-bottom: 0; margin-top: 0}
.page-title {border-bottom: 1px solid #ccc}

form p.help-block {background: url("../images/form-desc.gif") 0 5px no-repeat; margin:-10px 0 0; padding: 1px 0 5px 17px; font-size: 12px; color:#8e8e8e}
.supplier-register .control-group {margin-bottom: 0}
textarea {resize:vertical;}

.sb-whell {background-color: #FFFFFE; border: 1px solid #E0E0E0; border-radius: 4px 4px 4px 4px; margin-bottom: 20px; padding: 14px 15px}

.navbar .divider-vertical {margin: 0 -1px 0 0; border-left: 1px solid #e0e0e0}
.navbar .dropdown-menu {background-color: #F3F3F3; border-color: #F3F3F3}
.navbar .nav > li > .dropdown-menu:before {
  border-right: 0px solid transparent;
  border-bottom: 0px solid #ccc;
  border-left: 0px solid transparent;
}
.navbar .nav > li > .dropdown-menu:after{
    border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid #ffffff;
}
.dropdown-menu .divider {margin: 4px 1px 3px;}
.navbar .brand {padding: 5px 20px 0}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: #f3f3f3;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  color: #333333;
  text-decoration: none;
}
.navbar-form .input-append {margin-bottom: 0}
.navbar-cart {min-width: 380px; color: #666}
.category-menu {width: 250px;}
.category-menu .col {width: 48%; float: left; margin-left: 1%;}
.category-menu .col a {color: #333333; text-decoration: none; padding: 3px 10px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.category-menu .col a:hover {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.bs-docs-sidenav {width: 258px;max-width: 100%}
.bs-docs-sidenav.affix {top: 60px;}

.category-form {list-style: none}
.view-product {position: relative}
body .view-product .comment-box {margin-left: 0}
.view-product .product-info {position: absolute; right: 0}
.view-product .people-sound .user-name {overflow: hidden; text-overflow: ellipsis; padding-bottom: 10px; font-size: 12px}
.products-list .thumbnails {margin-bottom: 0}
.products-list {position: relative}
.thumbnail {padding:0;background: #fff; box-shadow: rgba(0, 0, 0, 0.14902) 0px 5px 10px !important;}
.row-fluid div.thumbnail {padding:0;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px; border: 5px solid #fff;background: #fff; box-shadow: rgba(0, 0, 0, 0.14902) 0px 5px 10px !important;}
#products-list .product-picture img {border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0;}
h2.product-name {font-size: 16px; margin: 5px 0; line-height: 18px}
.product-name a {color: #999999}
.product-name a:hover {color: #333}
.product-picture {text-align: center; position: relative; overflow: hidden;}
.product-picture .carousel {margin-bottom: 0;}
.product-picture .carousel-inner > .item > img {margin: 0 auto}

.product-picture form {margin: 0; position: absolute; top: 0; right: 0; text-align: right;}
.product-picture .mask,
.view-thumb p{
    display: inline;
}

@media (min-width: 980px) {
    .product-picture form {position: static}
    .product-picture .mask {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        cursor: pointer;
        text-align: left;
        display: block;
    }

    .mask .price {margin: 10px}
    .mask .btn {height: 100%; font-size: 17.5px; padding:11px 12px;}
    .span4 .mask .btn {padding: 4px 12px; font-size: 14px}
    .mask .btn .icon-shopping-cart {margin-top: 4px}
    /*.mask .sbaddthis_button {position: absolute; top: 10px; right: 10px;}*/
    .m-share {position: absolute; top: 5px; right: 10px; z-index: 3; width: 14px; height: 20px}
    .m-share .icon-share {background-image: url("../bootstrap/img/glyphicons-halflings-white.png");}
    .product-picture .m-button {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -55px;
        margin-top: -50px;
        width: 150px;
        height: 100px;
        z-index: 2;
    }
    .product-picture .info {height: 100px}
    .span4 .product-picture .m-button {width: 70px; height: 50px; margin-top: -20%; margin-left: -20%}
    /*.view .info: hover {
       -webkit-box-shadow: 0 0 5px #000;
       -moz-box-shadow: 0 0 5px #000;
       box-shadow: 0 0 5px #000;
    }*/

    .view-thumb img {
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    .view-thumb .mask .btn {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    .view-thumb .m-share{
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    .view-thumb p {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
        display: inline-block;
    }
    .view-thumb:hover img,
    .view-thumb.hover img{
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
    }
    .view-thumb .info, .view-thumb p, .view-thumb .mask .btn, .view-thumb .m-share {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .view-thumb:hover .mask,
    .view-thumb.hover .mask{
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        background-color: rgba(0,0,0, 0.5);

    }
    .view-thumb:hover .m-button,
    .view-thumb.hover .m-button, 
    .view-thumb.hover .m-share,
    .view-thumb:hover .m-share{
        background:none;
    }

    .view-thumb:hover p,
    .view-thumb.hover p,
    .view-thumb:hover .info,
    .view-thumb.hover .info,
    .view-thumb:hover .mask .btn,
    .view-thumb.hover .mask .btn{
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    .view-thumb:hover .mask .btn.disabled,
    .view-thumb.hover .mask .btn.disabled{
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
        opacity: 0.9;
    }
    .view-thumb:hover .info,
    .view-thumb.hover .info{
        background:none;
    }
    .view-thumb:hover .m-share,
    .view-thumb.hover .m-share{
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.sidebox {width: auto; padding: 20px 5px 5px;}
.sidebox.ft {background: url(../images/bg-ft.png) 0 0 no-repeat;}

.sidebox .avatar {margin-top: -10px; border: 1px solid #eee}
.sidebox a:hover {text-decoration: none}
#products-list .sidebox {padding-top: 5px; text-align: left; border-top: 1px solid #eee;}
#products-list .sidebox .avatar {border: 0; margin-top: 0}
.view-profile .thumbnail, #products-list .thumbnail {text-align: center; font-size: 13px; color: #8A8F9C}
#products-list .thumbnail a.soundbull {color: #8A8F9C}
.view-profile .span4 .thumbnail {box-shadow: none !important;}
.view-profile h2.product-name a {color: #333; font-size: 15px; line-height: 15px}
.view-profile h2.product-name a:hover {color: #0088CC;}
html .view-profile input.uprofile {width: 100%}

.page-title {border-bottom: 1px solid #eee}

/* infinite scroll */
.ias_loader, .ias_trigger {
	text-align:center;
	margin: 30px 0 40px;
        clear: both;
        position: absolute;
        width: 100%;
        bottom: -50px;
}

.ias_trigger a:link,
.ias_trigger a:visited {
    padding: 4px 50px;

    background-color: #f9f9f9;
    border: solid 1px #ddd;
    border-radius: 2px;

    font: bold 12px Arial, sans-serif;
    color: #555;
    text-decoration: none;
}

.ias_trigger a:hover,
.ias_trigger a:active {
    border-color: #ccc;
}

.cart-title {font-size: 16px; font-weight: bold}
.badge {padding-left: 6px; padding-right: 6px}
.sb-whell.checkout {margin-bottom: 0}
.opc .step-title {margin-bottom: 0;}
.opc .step-title a { display:none; float:right; }
.opc .allow .step-title {cursor: pointer}
.opc .allow .step-title a { display:block; }
.opc .active .step-title {cursor: inherit}
.opc .active .step-title a { display:none; }
.opc .well.step-title {padding: 14px 15px}
.opc .step {margin-bottom: 0}
.checkout-block .method-note, .checkout-block .shipping-method-note {margin-left: 30px; font-size: 13px}

.profile-pict {max-height:400px}
.notifs li {border-bottom: 1px solid #eee; padding-bottom: 10px}
.notif-detail  {color: #89898C;}

/*.Ecommerce-Controller-Supplier .system-messages,
.Ecommerce-Controller-Customer .system-messages {margin-left: 270px}*/

/* media query */
@media (min-width: 1200px) {
    .container-sb {width: 870px; margin: 0 auto;}
    .container-sb570 {width: 570px; margin: 0 auto}
    .hide-in-1024 {display: inline-block !important}
}

@media (min-width: 980px) {
    .container-sb570 {width: 570px; margin: 0 auto}
    .hide-in-1024 {display: none}
}
@media (max-width: 768px) {
    .view-product .product-info {position: static}
}
@media (min-width: 767px) and (max-width: 979px) {
/*    #products-list .span3 {width: 340px}
    #products-list .span6 {width: 340px}*/
    #products-list .span3 {width: 340px; float: left; margin-left: 20px}
    #products-list .span6 {width: 340px; float: left; margin-left: 20px}
    html .thumbnails {margin-left: -20px}
}