{% extends 'base.html' %}

{% block title %}About Boker Face • ini expresi gue, mana expresi loe{% endblock %}

{% block content %}
<div id='center' class='span6'>

        <div class='alert alert-warning about'>
          <h1>Tentang Boker Face</h1>
          Apakah anda lagi boker hari ini?
        </div>
        <div class='row'>
          <ul class='thumbnails'>
            <li class='span6'>
              <div class='outer about-txt'>
<!--               <h3>Just for fun</h3>

              <p>Bokerface (BF) adalah website yang di tujukan untuk fun, bokerface terdiri dari kata boker dan face, boker dalam kehidupan sehari2 sering di gunakan untuk orang yang lagi *pup* (apa itu pup? :D), boker juga bisa di gunakan untuk orang yang lagi bosen kerja, sehingga terinspirasi untuk membuat site ini, agar bisa di gunakan untuk ketawa, dan menyegarkan wajah yang lagi masem / suntuk (kayak asem, :D)</p>

              <h3>Inspirasi</h3>

              <p><blockquote>Boker awalnya terinspirasi saat founder lagi asyik di kamar mandi, menikmati setiap bunyi plup, plup yang terdengar indah dan saat itu juga perasaan lega muncul. Nah terbesit di pikiran founder untuk membuat sesuatu yang sifatnya pribadi tapi ga maluin untuk di share ke publik dan dan bisa di komentar oleh temen2 yang lain, tujuan nya semata hanya untuk fun, dan mengubah hal2 yang sifat nya agak pribadi untuk di jadikan sesuatu yang lucu, tanpa maksud untuk ke hal yang sifatnya negatif, pornographi, pornoaksi, atau yang tidak sesuai dengan normal kebiasaan.<small><strong>Kata Founder Boker Face (BF)</strong> Inspirasi juga bisa datang dari kamar mandi</small></blockquote></p>
              
              <h3>Bosen Kerja</h3>
              
              <p>Boker juga untuk menampilkan expresi para boker jika lagi bosen kerja / lagi ga mood, mungkin dengan melihat wajah sendiri produktivitas dan kreativitas kerja jadi semakin meningkat, apalagi membaca komentar lucu dari temen / sahabar boker yang lain.</p>

              <h3>Boker Idol</h3>

              <p>Jadi tunggu apalagi segera boker (ops! maksudnya daftar) dan upload photo dengan expresi loe yang paling gokil, biar semua tahu bahwa expresi loe yang paling boker dan siap-siap menjadi boker star idol.</p>

              <h3>Apakah anda lagi Boker hari ini?</h3>

              <p>by BF Team</p> -->
              {{ admin_setting('about_us') }}
              </div>
              <div class='sidebox ft'><img class='avatar' src='{{STATIC_URL}}assets/img/boker-avatar.png' alt='Boker' /></div>
            </li>
          </ul>
      </div>

</div>
{% endblock %}