{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div id='center' class='span6'>

        <div class='welcome' style="height:100px">
          <h1>Tentang Bokie</h1>
          Apakah anda lagi boker hari ini?
        </div>
        <div class='row'>
          <ul class='thumbnails'>
            <li class='span6'>
              <div class='outer about-txt'>
              {{ admin_setting('about_us') }}
              </div>
              <div class='sidebox ft'><img class='avatar' src='{{STATIC_URL}}assets/img/boker-avatar.png' alt='Boker' /></div>
            </li>
          </ul>
      </div>

</div>
{% endblock %}
