{% extends 'base.html' %}

{% block title %}About Boker Face • ini expresi gue, mana expresi loe{% endblock %}

{% block content %}

<div class='container'>
  <div id='center' class='span6'>
    <div class='alert alert-warning welcome'>
      <h1>Tentang Boker Face</h1>
    </div>

	<p>
	Bokerface (BF) adalah website yang di tujukan untuk fun, bokerface terdiri dari kata boker dan face, boker dalam kehidupan sehari2 sering di gunakan untuk orang yang lagi **** (maaf di sensor karena kurang baik di publish di tempat umum :D).</p>

	<p>Boker juga bisa di gunakan untuk orang yang lagi bosen kerja, sehingga terinspirasi untuk membuat site ini, agar bisa di gunakan untuk ketawa, dan menyegarkan wajah yang lagi maem (kayak asem, :D)</p>

	<p>Boker awalnya terinspirasi saat founder lagi asyik di kamar mandi, menikmati setiap bunyi plup, plup yang terdengar indah dan saat itu juga perasaan lega muncul.</p>
	<p>Nah terbesit di pikiran founder untuk membuat sesuatu yang sifatnya privadi untuk di share dan dan bisa di komentar oleh temen2 yang lain, tujuan nya semata hanya untuk fun, dan mengubah hal2 yang sifat nya agak pribadi untuk di jadikan sesuatu yang lucu, tanpa maksud untuk ke hal yang sifatnya negatif, pornographi, pornoaksi, atau yang tidak sesuai dengan normal kebiasaan.</p>

	<p>Boker juga untuk menampilkan expresi para boker jika lagi bosen kerja, mungkin dengan melihat wajah sendiri produktivitas dan kreativitas kerja jadi semakin meningkat, apalagi membaca komentar lucu dari temen / sahabar boker yang lain.</p>

	<p>Jadi tunggu apalagi segera boker (ops! maksudnya daftar) dan upload photo dengan expresi yang paling gokil, biar semua tahu bahwa expresi loe paling boker dan gokil, dan siap2 menjadi boker star idol.</p>

	<p>Sudahkan anda Boker hari ini?</p>

	<p>BF</p>
  </div>
</div> <!-- /container -->

{% endblock %}