<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# bokerface: http://ogp.me/ns/fb/bokerface#">
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

<meta name="google-site-verification" content="tfsfJmPwdsukhLFYb2s-D86Jr7UOLeo1bWNSrUK0CSA" />
<meta name="msvalidate.01" content="F1DD28D9E465F29AE2AD0BB844C05C99" />
<meta name="alexaVerifyID" content="3sylDTpaSwmN7OOfiht2aJHytxM" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta property="fb:app_id" content="{{fbapp_id}}"/>
<meta property="og:type"   content="{% block fb_type %}website{% endblock %}" /> 
<meta property="og:url"    content="{% block fb_url %}{{app_domain}}{% endblock %}" /> 
<meta property="og:title"  content="{% block fb_title %}{{site_title}}{% endblock %}" /> 
<meta property="og:image"  content="{% block fb_image %}{{app_domain}}{{STATIC_URL}}assets/img/bokerface-icon.png{% endblock %}" />
<meta property="og:description" content="{{site_desc}}"/>

<title>{% block title %}{{site_title}}{% endblock %}</title>
<link href='{{STATIC_URL}}assets/js/markitup/images/style.css' rel='stylesheet'>
<link href='{{STATIC_URL}}assets/css/docs.css' rel='stylesheet'>
<link href='{{STATIC_URL}}assets/css/bootstrap.css' rel='stylesheet'>

<style type='text/css'>
  body {
    padding-top: 60px;
  }
</style>
<link href='{{STATIC_URL}}assets/css/bootstrap-responsive.css' rel='stylesheet'>
<link href='{{STATIC_URL}}assets/css/hover.css' rel='stylesheet'>
<link href='{{STATIC_URL}}assets/css/addons.css' rel='stylesheet'>

<link href="{{STATIC_URL}}assets/js/markitup/markitup/skins/simple/style.css" rel="stylesheet">
<link href="{{STATIC_URL}}assets/js/markitup/markitup/sets/default/style.css" rel="stylesheet">
<link href="{{STATIC_URL}}assets/css/styles.css" media="screen" rel="stylesheet" type="text/css"/>

<link href='{{STATIC_URL}}assets/img/favicon.png' rel='shortcut icon' type='image/x-icon' />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
<![endif]-->
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

</head>
  <body>
    <div id="fb-root"></div>
    {% include 'topbar.html' %}
    
    <div class='container'>
    {% block content %}
    {% endblock %}
    </div>

  <div class='footer'>
    <div id='center' class='span9'>
      <div class='row'>
             <p>&copy; 2013 <a href='http://bokerface.com'>BokerFace.com (BF)</a> | <a href='{{ uri_for('about') }}'>About</a> | <a href="{{ uri_for('contests') }}" title="Kontes">Kontes</a> | <a href="http://blog.bokerface.com/" title="Bokerface Blog" target="_blank">Blog</a></p>
             <p>Supported by: <a href='http://ilabbali.org/labs' target='_blank'>ilabbali.org</a> | <a href='http://sudigital.com' target='_blank'>sudigital.com</a> | <a href='http://balitechy.com' target='_blank'>balitechy.com</a><p>
             <p>Made with love in Bali.</p>
      </div>
    </div>
  </div>

    <script src='{{STATIC_URL}}assets/js/jquery.js'></script>
    <script src='{{STATIC_URL}}assets/js/bootstrap.min.js'></script>
    <script src='{{STATIC_URL}}assets/js/hover-dropdown.min.js'></script>
    <script src='{{STATIC_URL}}assets/js/ajax-action.js'></script>
    
    <script src='{{STATIC_URL}}assets/js/backbone/underscore-min.js'></script>
    <script src='{{STATIC_URL}}assets/js/backbone/backbone-min.js'></script>
    <script src='{{STATIC_URL}}assets/js/backbone/streams.js'></script>
    <script src="{{STATIC_URL}}assets/js/jquery.masonry.min.js"></script>
    <script src="{{STATIC_URL}}assets/js/jquery.imagesloaded.min.js"></script>

    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type='text/javascript'>
      $(function() {
        $('img[data-hover]').hover(function() {
            $(this)
                .attr('tmp', $(this).attr('src'))
                .attr('src', $(this).attr('data-hover'))
                .attr('data-hover', $(this).attr('tmp'))
                .removeAttr('tmp');
        }).each(function() {
            $('<img />').attr('src', $(this).attr('data-hover'));
        });;
        $('.dropdown-hover').dropdownHover();
    });
    </script>

    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ fbapp_id }}', status: true, cookie: true, xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          {% if current_user %} window.location = "{{ uri_for('logout') }}" {% else %} window.location.reload(); {% endif %}
        });

        {% block fb_event_scripts %}{% endblock %}
      };

      {% if current_user %}
      function fb_logout(){
        FB.logout();
      }

      function invite_friends(){
        FB.ui({method: 'apprequests',
          title: 'Ayo seru-seruan di bokerface.com',
          message: 'Ayo seru-seruan di bokerface.com...',
        }, function(){});
      }
      
      {% else %}
      function fb_login(){
        FB.login(function(resp){
          if(!resp.authResponse){
            window.location = "{{ uri_for('login') }}?msg=fb_error";
          }
        }, {scope: 'publish_stream'});
      }
      function fb_login_admin(){
        FB.login(function(resp){
          if(!resp.authResponse){
            window.location = "{{ uri_for('login_admin') }}?msg=fb_error";
          }
        }, {scope: 'publish_stream,manage_pages'});
      }
      {% endif %}
    </script>

    {% block footerscript %}{% endblock %}

    <script type="text/javascript">
      //BokerFace.com UA-1149719-10
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1149719-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
    <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/oPZPqQ1lI3lUc9xhc1A8Vg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

    <!-- A tab to launch the Classic Widget -->
    <script>
    UserVoice = window.UserVoice || [];
    UserVoice.push(['showTab', 'classic_widget', {
      mode: 'full',
      primary_color: '#cc6d00',
      link_color: '#007dbf',
      default_mode: 'support',
      forum_id: 207837,
      tab_label: 'Feedback & Support',
      tab_color: '#cc6d00',
      tab_position: 'middle-right',
      tab_inverted: false
    }]);
    </script>

    <script type="text/template" id="boker_template">
        <li class="span3 item" id="item-<%= obj.id %>">
            <div class="thumbnail">
                <div class="boker-picture view-thumb" id="view-thumb4">
                <a href="<%= obj.permalink %>" id="boker-main-pic4"><img alt="<%= obj.description %>" src="/images/<%= obj.photo.key %>?type=list&crop=1"/></a>

                <% if(obj.can_like){ %>
                  <div class="mask m-button">
                  <span class='info'>
                  <button class='btn btn-large btn-warning btn-like-list' data-boker="<%= obj.key %>" type='button'>
                  <i class='icon-star icon-white'></i> Suka!
                  </button>
                  </span>
                  </div>
                <% } %>

            </div>
            <h2 class="boker-name">
            <a href="<%= obj.permalink %>"><%= obj.description %></a>
            </h2>
            <span><i class='icon-eye-open'></i> <%= obj.num_view %> <i class='icon-thumbs-up'></i> <%= obj.num_like %> <i class='icon-comment'></i> <%= obj.num_comment %></span>

            <div class="sidebox" style="padding:8px; height:auto">
                <a href="<%= obj.user.url %>" style="float:left; margin-top:5px">
                <img src="http://graph.facebook.com/<%= obj.user.id %>/picture?type=square" width="36" height="36" class="avatar"/>
                </a>
                <span class='label' style="margin-top:7px"><%= obj.user.username %></span><br/>
                <span style="margin-left:3px"><i class="icon-time time"></i> <%= obj.created %></span>
                </div>
            </div>
        </li>
    </script>

  </body>
</html>
