{% extends 'base.html' %}

{% block style %}
<link href='{{STATIC_URL}}assets/css/bootstrap.css' rel='stylesheet'>
<link href='{{STATIC_URL}}assets/css/bootstrap-responsive.css' rel='stylesheet'>
<link href='{{STATIC_URL}}assets/css/pop.css' rel='stylesheet'>

{% endblock %}

{% block additionalscript %}{% endblock %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<div class="row pop boker">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="javascript:;" title="Upload Photo"><i class="icon icon-picture"></i> <strong>Photo</strong></a></a></li>
            <li><a href="{{ uri_for('boker') }}?pop=1&type=video" title="Bagikan Video"><i class="icon icon-facetime-video"></i> <strong>Video</strong></a></li>
        </ul>
    </div>

    {% if errors %}
    <div class="span12">
    <div class="alert alert-danger"><strong>{{errors}}</strong></div>
    </div>
    {% endif %}

    <div class="span6">
        <blockquote>
          <p>1. Upload Photo/Gambar</p>
          <small>Pilih photo/gambar gokil mu</small>
        </blockquote>
        <div>
            <span class="uploaded-photo hide">
            <img src="">
            <button class='btn btn-block btn delete' id="delete-photo">Kurang gokil? klik disini untuk hapus</button>
            </span>

            <a class='btn btn-info btn-block btn-right' href="javascript:;" id="browse-photo">Pilih photo/gambar...</a>
        </div>
    </div>

    <div class="span6">
        <blockquote>
          <p>2. Sedikit cerita</p>
          <small>Ceritakan sedikit tentang photo ini</small>
        </blockquote>
        <div>
          <form id='boker' name='boker' method='POST' action='/boker?action=boker_photo&pop=1'>
            <div class='row-fluid'>
              <div class='span12'>
                <div id='bodytxt' class='span12'>
                  <input type="hidden" name="photokey" id="photokey" value="" />
                  <textarea rows='3' class='span12 textarea' name="desc" id="desc"></textarea>
                  <label class="checkbox pull-left">
                  <input type="checkbox" name="explicit_share" checked="checked"/> Bagikan di wall Facebook mu?
                  </label>
                  <button class='btn btn-warning pull-right'>Boker!</button> 
                </div>
              </div>
          </form>
        </div>
    </div>

</div>
{% endblock %}

{% block footerscript %}
<script src='{{STATIC_URL}}assets/js/fineuploader-3.5.0.min.js'></script>
<script type="text/javascript">
jQuery(document).ready(function($){

    window.parent.jQuery.fancybox.update();

    $('#delete-photo').click(function(){
        $('.uploaded-photo img').attr('src', '');
        var current_img = $('#photokey').val();
        $('#photokey').val('');
        $('.uploaded-photo').hide();

        $.post('/images/'+current_img+'?action=delete');
        window.parent.jQuery.fancybox.update();
    });

    $('form#boker').submit(function(){

        var photo = $('#photokey').val(),
            desc = $('#desc').val();

            if(photo == '' || desc == ''){
                alert('Photo + ceritanya wajib diisi ya..');
                return false;
            }
            return true;
    });

    var init_uploader = function(){
        new qq.FineUploaderBasic({
                  button: $('#browse-photo')[0],
                  multiple: false,
                  forceMultipart: true,
                  request: {
                      endpoint: '/boker?action=upload',
                      inputName: 'photo'
                  },

                  validation: {
                      allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                      sizeLimit: 2000*1024
                  },
                  
                  callbacks: {
                      //onProgress
                      onProgress: function(id, fileName, loaded, total){
                        $('#browse-photo').text('Uploading...');
                      },
                      
                      //OnComplete
                      onComplete: function(id, fileName, responseJSON){   
                              
                          if(responseJSON.success){
                              $('.uploaded-photo img').attr('src', '/images/'+responseJSON.photo);
                              $('#photokey').val(responseJSON.photo);
                              $('.uploaded-photo').show('fast', function(){
                                    setTimeout(function(){
                                        window.parent.jQuery.fancybox.update();
                                    }, 500);
                              });
                          }
                          $('#browse-photo').text('Pilih photo...');
                          init_uploader();
                      },
                      
                      //OnError
                      onError: function(id, fileName, reason) {
                          $('#browse-photo').text('Ups, Error! Silahkan coba lagi.');
                          init_uploader();
                      }
                  }
              });
          };

        init_uploader();
});
</script>
{% endblock %}