{% extends 'base.html' %}

{% block title %}Upload foto boker • Boker Face • Apakah Anda lagi Boker hari ini?{% endblock %}

{% block content %}
  <div id='center' class='span8'>
    <div class='alert alert-block upload top'>
      <h3>Apakah anda lagi <cite>boker</cite> hari ini?</h3>
    </div>
    {{errors}}
    <div class='row'>
      <div class='span4'>
        <div class='alert alert-block upload box text'>
          <blockquote>
          <p>1. Upload</p>
          <small>Pilih dan upload photo dengan expresi terbaik mu</small>
        </blockquote>
        </div>
        <div class='alert alert-block upload box'>
            <span class="uploaded-photo hide">
            <img src="">
            <button class='btn btn-block btn delete' id="delete-photo">expresi mu kurang gokil? klik disini untuk hapus</button>
            </span>

            <a class='btn btn-info btn-block btn-right' href="javascript:;" id="browse-photo">Pilih photo...</a>
        </div>
      </div>
      <div class='span4'>
        <div class='alert alert-block upload box text'>
          <blockquote>
          <p>2. Tentang expresimu</p>
          <small>Ceritakan singkat tentang expresimu di photo</small>
        </blockquote>
        </div>
        <div class='alert alert-block upload box'>
          <form id='boker' name='boker' method='POST' action='/boker?action=boker'>
            <div class='row-fluid'>
              <div class='span12'>
                <div id='bodytxt' class='span12'>
                  <input type="hidden" name="photokey" id="photokey" value="" />
                  <textarea rows='3' class='span12 textarea' placeholder='Tentang expresimu...' name="desc" id="desc"></textarea>
                  <label class="checkbox pull-left">
                  <input type="checkbox" name="explicit_share" checked="checked"/> Bagikan di wall Facebook mu?
                  </label>
                  <button class='btn btn-warning pull-right'>Boker!</button> 
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footerscript %}
<script src='{{STATIC_URL}}assets/js/fineuploader-3.5.0.min.js'></script>
<script type="text/javascript">
jQuery(document).ready(function($){

    $('#delete-photo').click(function(){
        $('.uploaded-photo img').attr('src', '');
        var current_img = $('#photokey').val();
        $('#photokey').val('');
        $('.uploaded-photo').hide();

        $.post('/images/'+current_img+'?action=delete');
    });

    $('form#boker').submit(function(){

        var photo = $('#photokey').val(),
            desc = $('#desc').val();

            if(photo == '' || desc == ''){
                alert('Photo gokil mu + deskripsi nya wajib diisi..');
                return false;
            }
            return true;
    });

    var init_uploader = function(){
        new qq.FineUploaderBasic({
                  button: $('#browse-photo')[0],
                  multiple: false,
                  forceMultipart: true,
                  request: {
                      endpoint: '/boker?action=upload',
                      inputName: 'photo'
                  },

                  validation: {
                      allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                      sizeLimit: 2000*1024
                  },
                  
                  callbacks: {
                      //onProgress
                      onProgress: function(id, fileName, loaded, total){
                        $('#browse-photo').text('Uploading...');
                      },
                      
                      //OnComplete
                      onComplete: function(id, fileName, responseJSON){   
                              
                          if(responseJSON.success){
                              $('.uploaded-photo img').attr('src', '/images/'+responseJSON.photo);
                              $('#photokey').val(responseJSON.photo);
                              $('.uploaded-photo').show();
                          }
                          $('#browse-photo').text('Pilih photo...');
                          init_uploader();

                      },
                      
                      //OnError
                      onError: function(id, fileName, reason) {
                          $('#browse-photo').text('Ups, Error! Silahkan coba lagi.');
                          init_uploader();
                      }
                  }
              });
          };

        init_uploader();
});
</script>
{% endblock %}