{% extends 'base.html' %}

{% block title %}Boker Face • ini expresi gue, mana expresi loe{% endblock %}

{% block content %}
  <div class='row'>
    <ul class='thumbnails bokers-container' id="boker-list">
    </ul>
    <div class="loading hide"><img src="{{STATIC_URL}}assets/img/loading.gif"/></div>
  </div>
<div class="clearfix"></div>
{% endblock %}

{% block footerscript %}
    <script type="text/javascript">

        var BokersView = Backbone.View.extend({
            el: '.bokers-container',
            initialize: function(){
                _.bindAll(this, 'render_item', 'fetch_data');
                this.template = _.template($('#boker_template').html());

                this.bokers = new Posts([], {query: '{{query}}'});
                this.bokers.bind('add', this.render_item, this);
                this.loading = false;

                var that = this;
                that.$el.masonry({
                        itemSelector : '.item'
                });
            },

            render_item: function(boker){
                var item = this.template({obj: boker.toJSON()});
                var that = this;
                this.$el.append(item);
                this.$el.find('#item-'+boker.get('id')).imagesLoaded(function(){
                    that.$el.masonry('reload');
                });
                return this;
            },

            fetch_data: function(){
                var that = this;

                this.loading = true;
                $('.loading').show();
                this.bokers.fetch({
                    update: true,
                    success: function(){
                        that.loading = false;
                        $('.loading').hide();
                    }
                });
            }
        });

        jQuery(document).ready(function($){
            var bokers_list = new BokersView;
            bokers_list.fetch_data();

            $(window).scroll(function(){
                if(bokers_list.loading==false){
                    var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
                    if(closeToBottom) {
                        if(bokers_list.bokers.next_url){
                            bokers_list.bokers.url = bokers_list.bokers.next_url;
                            bokers_list.fetch_data();
                        }
                    } 
                }
            });
        });
    </script>
{% endblock %}

