{% extends 'base.html' %}

{% block title %}Boker Face • ini expresi gue, mana expresi loe{% endblock %}

{% block content %}
<div id='center' class='span6'>
  <div class='alert alert-warning welcome'>
    <h1>Boker Face</h1>
    Ga harus perfect untuk bisa menjadi star idol, Kamu pun bisa. Ini expresi BF gue, mana expresi BF loe?
  </div>
  <div class='row'>
    <ul class='thumbnails' id="bokers-container">
    </ul>
    <div class="loading hide"><img src="{{STATIC_URL}}assets/img/loading.gif"/></div>
  </div>
</div>
{% endblock %}

{% block footerscript %}
    <script type="text/javascript">

        var BokersView = Backbone.View.extend({
            el: '#bokers-container',
            initialize: function(){
                _.bindAll(this, 'render_item', 'fetch_data');
                this.template = _.template($('#boker_template').html());

                this.bokers = new Posts([], {});
                this.bokers.bind('add', this.render_item, this);
                this.loading = false;
            },
            render_item: function(boker){
                this.$el.append(this.template({obj: boker.toJSON()}));
                return this;
            },

            fetch_data: function(){
                var that = this;

                this.loading = true;
                $('.loading').show();
                this.bokers.fetch({
                    update: true,
                    success: function(){
                        that.loading = false;
                        $('.loading').hide();
                    }
                });
            }
        });

        jQuery(document).ready(function($){
            var bokers_list = new BokersView;
            bokers_list.fetch_data();

            $(window).scroll(function(){
                if(bokers_list.loading==false){
                    var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
                    if(closeToBottom) {
                        if(bokers_list.bokers.next_url){
                            bokers_list.bokers.url = bokers_list.bokers.next_url;
                            bokers_list.fetch_data();
                        }
                    } 
                }
            });
        });
    </script>
{% endblock %}

