{% extends 'base.html' %}

{% block title %}{{boker.description}}{% endblock %}

{% block content %}
<div id='center' class='span12'>
        <div class='row'>  
          <div id='photofix' class='span7'>
            <div class='photo-main'> 
              <div class='outerphoto'>
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet" tw:via="bokerface"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                </div>
                <script type="text/javascript">
                  var addthis_config = {
                      username: "bokerface",
                      ui_header_color: "#ffffff",
                      ui_header_background: "#c70000",
                      ui_cobrand: "bokerface.com",
                      ui_use_addressbook: true,
                      data_ga_property: "UA-1149719-10",
                      data_track_clickback: true
                  }
                  var addthis_share = {
                      templates: {
                          twitter: '{{title}} {{url}} via @bokerface #bokerface #boker #bf',
                      }
                  }
                  </script>
                  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=bengkelmediagroup"></script>
                  <!-- AddThis Button END -->
                <img src='{{ uri_for('image', photo_id=boker.photo.key()) }}' alt='{{boker.description}}' height="100">
              </div>
            </div>
          </div>
          <div class='span5 comment-box'>
            <div class='outertxt'>
              <p><span class='label label-inverse'>{{boker.user.username}}</span> {{boker.description}}</p>
            </div>
            <div class='sidebox ft'>
              <a href='{{ uri_for('user', username=boker.user.username) }}'><img class='avatar' src='http://graph.facebook.com/{{ boker.user.id }}/picture?type=square' alt='{{boker.user.username}}' /></a>
              {{boker.created|is_new}} <span><i class='icon-time'></i> {{boker.created|naturaltime}}</span>
            </div>
            <hr>
            <div class="comment-main">
              <span class='button-stat'>

                <a href='javascript:;' class="btn btn-block btn-large btn-info vote-boker {% if not can_vote %}disabled{% endif %}" data-boker="{{boker.key()}}">
                  <i class='icon-star icon-white'></i> Votes as Boker Star <i class='icon-star icon-white'></i>
                </a>
              </span>
            </div>
            <hr>
            <div class="comment-main" style="max-width:470px">
              <div class="fb-comments" data-href="{{app_domain}}{{ uri_for('boker_view', boker_id=boker.key().id()) }}" data-width="470" data-num-posts="20"></div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block fb_event_scripts %}
    FB.Event.subscribe('comment.create', function(resp){
        ajax_action('inc_comment', {boker: '{{ boker.key() }}'});
    });

    FB.Event.subscribe('comment.remove', function(resp){
        ajax_action('dec_comment', {boker: '{{ boker.key() }}'});
    });
{% endblock %}

{% block footerscript %}
    {% if can_vote %}
    <script>
    jQuery(document).ready(function($){
        $('.vote-boker').click(function(){
            var boker = $(this).attr('data-boker'),
                that = this;;
            ajax_action('vote', {boker: boker}, function(resp){
                if(resp=='ok'){
                    $(that).addClass('disabled').unbind('click');
                }
            });
        });
    });
    </script>
    {% endif %}
{% endblock %}