<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <button type='button' class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='brand' href='{{ uri_for('home') }}'><img src='{{STATIC_URL}}assets/img/logo-bokerface.png' /></a>
      <div class='nav-collapse collapse'>
        <ul class='nav'>
          <li {% if page == 'about' %}class="active"{% endif %}><a href='{{ uri_for('about') }}'>About</a></li>
<!--           <li class='dropdown'>
            <a href='#' class='dropdown-toggle dropdown-hover' data-toggle='dropdown'>Browse <b class='caret'></b></a>
                <ul class='dropdown-menu'>
                  <li><a href='#'>Bokers Idol</a></li>
                  <li class='divider'></li>
                  <li><a href='#'>Most Like</a></li>
                  <li><a href='#'>Most View</a></li>
                  <li><a href='#'>Most Comment</a></li>
                  <li class='divider'></li>
                  <li><a href='#'>Boker of the day</a></li>
                  <li><a href='#'>Boker of the week</a></li>
                  <li><a href='#'>Boker of the month</a></li>
                </ul>
          </li> -->
          <li {% if page == 'contest' %}class="active"{% endif %} ><a href="{{ uri_for('contests') }}" title="Kontes">Kontes</a></li>
          <li><a href="http://blog.bokerface.com/" title="Bokerface Blog" target="_blank">Blog</a></li>
        </ul>
        <ul class='nav pull-right'>
        <li class='divider-vertical'></li>
        <li class='navbar-social-btn'><div class="fb-like" data-href="http://www.bokerface.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        </li>
        <li class='divider-vertical'></li>
        {% if current_user %}
        <li><a href='#'><span class='label label-important'>30</span></a></li>
        <li class='divider-vertical'></li>
          <li class='dropdown mobile-divider'>
            <a href='#' class='dropdown-toggle dropdown-hover'>
              <img src='http://graph.facebook.com/{{ current_user.id }}/picture?type=square' class='av-img' /> {{ current_user.username|escape }} <b class='caret'></b>
            </a>
            <ul class='dropdown-menu'>
              <li><a href='{{ uri_for('user', username=current_user.username) }}'>My Bokers</a></li>
              <li><a href='{{ uri_for('settings') }}'>Settings</a></li>
              {% if current_user.is_admin %}
              <li class='divider'></li>
              <li><a href='{{ uri_for('admin_contest') }}'>Manage Contest</a></li>
              <li><a href='{{ uri_for('admin_content') }}'>Manage Texts</a></li>
              {% endif %}
              <li class='divider'></li>
              <li><a href='javascript:;' onclick="fb_logout();" title="Log out"><strong>Logout</strong></a></li>
            </ul>
          </li>
        {% else %}
            <li><a href='{{ uri_for('login') }}'><i class='icon-user'></i>+ <strong>Login / Sign Up</strong></a></li>
        {% endif %}

          <li class='divider-vertical last'></li>
          <a href='{{ uri_for('boker') }}' class='btn btn-warning'><i class='icon-upload icon-white'></i> Upload</a>
          
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>